body {
    text-align: center;
}

#board {
    background-color: rgb(0, 0, 0);
    border-top: 5px solid rgb(253, 36, 36);
    border-left: 5px solid rgb(161, 18, 18);
    border-right: 5px solid rgb(146, 45, 11);
}
